    
    <div class="col-sm-12 pt-5 text-right">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="onClickAddTodo()">Add Todo</button>
        </div>
    </div>
    
    <div class="col-sm-12 pt-2">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped">
                <thead class="table-primary">
                    <tr style="cursor: pointer;">
                        <th scope="col" (click)="sort('taskName')">Task Name
                            <i *ngIf="previewsOrder=='asc' && previewsKey == 'taskName' " class="fa fa-sort-desc" aria-hidden="true"></i> 
                            <i *ngIf="previewsOrder=='desc' && previewsKey == 'taskName'" class="fa fa-sort-asc" aria-hidden="true"></i>
                        </th>
                        <th scope="col" (click)="sort('status')">Status
                            <i *ngIf="previewsOrder =='asc' && previewsKey == 'status' " class="fa fa-sort-desc" aria-hidden="true"></i> 
                            <i *ngIf="previewsOrder =='desc' && previewsKey == 'status'" class="fa fa-sort-asc" aria-hidden="true"></i>
                        </th>
                        <th scope="col" (click)="sort('rating')">Rating
                            <i *ngIf="previewsOrder=='asc' && previewsKey == 'rating' " class="fa fa-sort-desc" aria-hidden="true"></i> 
                            <i *ngIf="previewsOrder=='desc' && previewsKey == 'rating'" class="fa fa-sort-asc" aria-hidden="true"></i>
                        </th>
                        <th scope="col" (click)="sort('date')">Date
                            <i *ngIf="previewsOrder=='asc' && previewsKey == 'date' " class="fa fa-sort-desc" aria-hidden="true"></i> 
                            <i *ngIf="previewsOrder=='desc' && previewsKey == 'date'" class="fa fa-sort-asc" aria-hidden="true"></i>
                        </th>
                        <th scope="col" class="text-center" style="width: 20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos">
                        <td>{{todo.taskName}}</td>
                        <td>{{todo.status}}</td>
                        <td><i *ngFor="let star of todo.ratings" class="fa fa-star" aria-hidden="true"></i></td>
                        <td>{{todo.date}}</td>
                        <td width="150" class="text-center">
                            <button type="button" class="btn btn-info btn-sm mr-2" (click)="onClickEditTodoDetail(todo.id)">Edit</button> 
                            <button type="button" class="btn btn-danger btn-sm mr-2" (click)="onClickTodoDelete(todo.id)">Remove</button>
                            <button [hidden]="todo.status=='Completed'" type="button" class="btn btn-danger btn-sm" (click)="onClickTodoCompleted(todo.id)">Complete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
